<div class="fixed-bottom">
    <div class="bg-secondary pt-2 pb-2 px-2">
        <div class="d-flex">
            <div class="w-100" >
                <span  class="created-by"> 
                    Created with ♥ by 
                    <b>
                        <a href="http://www.elabtech.org" target="_blank">
                            eLAB TECH
                        </a>
                    </b> 2018.
                </span>
            </div>
            <div class="w-100">
                <a class="pull-right mx-2" href="https://github.com/ayoubelabassi">
                    <span class="fa fa-github fa-2x"></span>
                </a>
                <a class="pull-right mx-2" href="https://www.linkedin.com/in/ayoub-el-abassi-059270102/">
                    <span class="fa fa-linkedin fa-2x"></span>
                </a>
                <a class="pull-right mx-2" href="https://www.facebook.com/E-LAB-TECH-287986051991894">
                    <span class="fa fa-facebook-square fa-2x"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<ngx-alert-templates></ngx-alert-templates>